# <font color="blue"> Les listes

**Définition:**

* Les listes sont parmi les principaux objets du langage python;
* Une liste est une séquence de valeurs numérique et/ou caractères indicées, spécifiées à l'intérieure des crochets et séparées des virgules.
    * Exemples:
        * x=[1,2,3,4,5,6]# liste contenant uniquement des chiffres;
        * y=["PHP", "Java", "C++"]# liste contenant uniquement des caractères;
        * z=[10,"Tanger","Rabat", 30]# liste contenant  des chiffres et des caractères

**Définir une liste simple: liste à une dimension**

In [ ]:
#définir une list vide
x=list()
#ou
x=[]

**Indiçage d'une liste à une dimension**:
<p>
Une liste est une séquence de valeurs indicées, alors il est facile d'accéder à chacune des valeurs en indiqant leur indice.
</p>

In [ ]:
x=[3,7,20,"Lundi",20]
x[0]#renvoie le premier élément de la liste==> 3
x[3]#renvoie le quatrième élément de la liste==> Lundi
x[:]#renvoie toute la liste
x[:2]#renvoie tous les éléments ayant une indice strictement inférieure à 2 (2 exclu), donc [3,7]
x[2:]#renvoie tous les éléments ayant une indice supérieure ou égale à 2 (2 inclu), donc [20, 'Lundi', 20]
x[-1]# renvoie le dernier élément de la liste, donc 20
x[1:4]# renvoie tous les éléments situés entre l' 1 (inclu) et l'indice 4 (exclu), donc [7, 20, 'Lundi']

[7, 20, 'Lundi']

**Ajouter des valeur à une liste**
* La fonction **append()** *: pour ajouter un élément à la fin de la liste;
* la fonction **extend()** *: pour ajouter plusieurs éléments simultanément;
* la fonction **insert()** *: pour insérer un élément à une position spécifique (identifiée par son indice).

In [ ]:
#Ajouter un élément à la fin de la liste
x.append(1)
print(x)

[1]

In [ ]:
# Ajouter plusieurs éléments à la fois
x.extend([10,15,100])# dans ce cas les crochets sont obligatoire

In [ ]:
#Insérer un élément à une position identifée par son indice
#Dans l'exemple suivant, on va insérer une 20 dans la deuxième position (indice=1)
x.insert(1,20)

**Supprimer un élément de la liste:**
* La fonction remove(): pour supprimer un élément en se basant sur sa valeur;
* La fonction delete(): pour supprimer un élément se se basant sur son indice.

In [ ]:
#Supprimer un élément en se basant sur sa valeur
x=['lundi','mardi','mercredi','jeudi','vendredi','samed','dimanche']
x.remove('vendredi')# supprime l'entrée vendredi de la liste x.
"""
attention remove() supprime toutes les occurences de l'élément!
c-à-d si on vendredi plusieurs fois, ils seront tous supprimés
"""
x

['lundi', 'mardi', 'mercredi', 'jeudi', 'samed', 'dimanche']

In [ ]:
#Supprimer un élement en se basant sur son indice
del x[2]#supprime l'élément ayant l'indice 2==> le troisième élément=Mercredi
x

['lundi', 'mardi', 'jeudi', 'samed', 'dimanche']

**Autres fonctions importantes de manipulation  de listes:**
* La fonction **index()** pour renvoyer l'indice d'un élément en se basant sur sa valeur;
* La fonction **count()** pour compter le nombre d'occurence d'une valeur dans la liste;
* La fonction **sort()** pour trier les éléments d'une liste;
* La fonction **reverse()** pour intervertir l'ordre des élémens de la liste.

In [ ]:
#créer une liste vide
x=list()
#remplir la liste par des valeurs paires comprise entre 2 et 30
for i in range(1,31):#31 car le dernier terme dans range() est exclu toujours!!!
    if i%2==0:
        x.append(i)
#Afficher la liste x
print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
#Récupérer et afficher l'indice de la valeur 22
indice=x.index(22)
print(indice)

10

In [ ]:
#Modifier le code précédent de telle sorte à ce que la valeur recherchée soit saisie au clavier!!
val=int(input("La valeur recherche?"))#pour saisir un entier
indic=x.index(val)
print(indice)
# et si val n'existe pas dans la liste????
# on va tester l'existance de val par la fonction in

La valeur recherche?22
10

In [ ]:
#Modifier le code précédent de telle sorte à ce que la valeur recherchée soit saisie au clavier!!
val=int(input("La valeur recherche?"))#pour saisir un entier
if val in x:
    indic=x.index(val)
    print(val," est située à l'indice : ",indice)
else:
    print(val," n'exite pas dans la liste")
        
# et si val n'existe pas dans la liste????
# on va tester l'existance de val par la fonction in

La valeur recherche?33
33  n'exite pas dans la liste

In [ ]:
#Compter le nombre d'occurence d'une valeur!
nombre_fois=x.count(22)
print(22," apparait ",nombre_fois," dans la lsite")

22  apparait  1  dans la lsite

In [ ]:
#Trier la liste x d'une manière croisante
x.sort()
x

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
#Trier la liste x d'une manière décroisante
x.sort(reverse=True)
x

[30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

**Modifier une valeur dans la liste**

In [ ]:
#Modifier la valeur dont l'indice égale 3==> la valeur 24 sera remplacée par 0
x[3]=0
print(x)

[30, 28, 26, 0, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [ ]:
#La valeur minimale dans la liste
mini=min(x)
print(mini)

0

In [ ]:
#la valeur maximal dans la liste
maxi=max(x)
print(maxi)

30

**Les fonctions zip() et unzipe()**:
* zip() combine les éléments de deux listes en formant une seule liste constituée de couples formés des éléments de même indice (voir l'exemple en desous)

In [ ]:
#La fonction zip()
x1=[1,2,3,4]
x2=[5,6,7,8]
x=list(zip(x1,x2))
print(x)

[(1, 5), (2, 6), (3, 7), (4, 8)]

**Exercices :**
1. Ecirer un programme python qui permet d'afficher la valeur minimale ainsi que son indice de la liste suivante.
    mylist=[90,40,53.5,30,76,93.75,80]
    
    B.N: N'utiliser pas la fonction min() prédéfinie.
    
2. Remplacer la valeur recherchée par une autre valeur saisie au clavier. si la liste contient plusieurs occurences, seule la première qui sera remplacée.
3. Modifier le code précédent de telle sorte à ce qu'il affiche le nombre d'occurences de la valeur recherchée et leur indices.
4. Ecire le code qui permet d'affciher la somme des éléments de la liste.
4. Ecrire le code qui permet de trouver et d'afficher les nombres premiers contenus dans la liste (sinon afficher la phrase :"cette liste ne contient aucun nombre premier")

**Les Listes à deux dimensions**

+ **Indiçage d'une liste à deux dimensions (slicing):**
<p>
Etant donné qu'une liste est une séquence de valeurs indicées, il est facile d'accéder à chacune des ses valeurs en indiquant son indice.

* **Exemples:** afficher le premier élément d'une liste.
<p>
   Une liste à deux dimensions est une liste formée, en réalité, de deux liste à une dimension. Par conséquence:
   </p>


    + x[0] permet d'accéder au premier élément de la liste (qui est la première liste à une dimension);
    * x[0][0] permet d'accéder le premier élément de premier élément-liste.

In [ ]:
x=[[1,2,3],[10,11,12]]
x[0]# renvoie le premier élément de la liste ==>[1,2,3]
x[0][0]#renvoie le premier élément dans le premier elémént-liste==>1
x[0][1]# renvoie 2
#x[2]# Erreur (list index of range), car l'élément-liste d'indice 2 n'existe pas!
x[1][1]# renvoie 11
x[1][:2]#renvoie 1[10,11]
x[1][:3]#renvoie 1[10,11,12]
x[1][1:]#renvoie 1[11,12]

[11, 12]

+ **Parcourir une liste à deux dimension**: on utilise deux boucle for imbriquée.
  * Exemple calculer la somme de tous les éléments de la liste.

In [ ]:
x=[[1,2,3],[10,11,12]]
somme=0
for i in range(len(x)):
  for j in range(len(x[i])):
    somme+=x[i][j]
print(somme)#renvoie 39

39

**Exercice:** A partir d'une liste à deux dimensions, créer une liste à une dimension dont les éléments sont les sommes des éléments-listes de la liste principale.

In [ ]:
x=[[1,2,3],[10,11,12]]
y=[]#la liste à une dimension que nous allons créer à partire de la liste à 2 dimensions
somme=0#
for i in range(len(x)):
  for j in range(len(x[i])):
    somme+=x[i][j]
  y.append(somme)
  somme=0
y

[6, 33]

**La fonction map()**:
<p>
la fonction map() exécute une fonction donnée passée en argument sur chacune des éléments d'une liste initiale et renvoe le résultat final sous forme d'une nouvelle liste.</p>

+ Exemple 1: nous allons utilser la fonction map() pour générer une liste dont les éléments sont les valeurs d'une liste passé en argument.
+ Exemple 2:
Dans cette exemple simple nous définissons une fonction puissance() qui prend en paramètre une liste et renvoie une liste finale dont les éléments sont les éléments de la liste initiale à la puissance 2. Après nous utilisons la fonction map() pour mapper les éléments d'une liste par la fonction puissance.

In [ ]:
from math import sqrt# importe la fonction sqrt située dans le module math
#il s'agit d'une fonction prédéfinie
l=[4,9,16,25]
x=list(map(sqrt,l))
x#renvoie [2.0, 3.0, 4.0, 5.0]

[2.0, 3.0, 4.0, 5.0]

In [ ]:
#Définition de la fonction puissance(), il s'agit d'une fonction utilisateur
def puissance(x):
  return x*x
#Déclaration d'une liste Exemple
l=[1,2,3,4,5,6,7,8,9,10]
x=list(map(puissance,l))
x#renvoie [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**La fonction filter()**
<p>
cette fonction permet d'appliquer un filtre sur les éléments d'une liste et renvoie ceux qui remplissent les conditions imposées par le filtre.

In [ ]:
#Exemple 1: renvoyer les éléments pairs d'une liste
#Définition de la fonction puissance(), il s'agit d'une fonction utilisateur
def ispair(x):
    if x % 2 ==0:
      return x
#Déclaration d'une liste Exemple
l=[1,2,3,4,5,6,7,8,9,10]
x=list(filter(ispair,l))
x#renvoie [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [ ]:
#Exemple 2:renvoyer les valeur d'une liste > à un seuil
#Définition de la fonction puissance(), il s'agit d'une fonction utilisateur
def issup(x):
    if x >= 5:
      return x
#Déclaration d'une liste Exemple
l=[1,2,3,4,5,6,7,8,9,10]
x=list(filter(issup,l))
x#renvoie [5, 6, 7, 8, 9, 10]

[5, 6, 7, 8, 9, 10]

**La fonction reduce()**
<p>
La fonction reduce,contrairement aux fonctions map() et filter(), renvoie une valeur et non une liste.Elle permet de renvoyer une information concernant une liste passée en paramètre, par exemple: la valeur maximale, la somme des éléments d'une liste, etc.
</p>
<p>
Avant de pouvoir l'utiliser, il faut d'abord l'importer à partir du module functools.

In [ ]:
from functools import reduce
liste=[10,80,-8,70,23]
#exemple 1: min d'une liste
reduce(min,liste)#renvoie -8
#exemple 2: max d'une liste
reduce(max,liste)#renvoie 80
#exemple 3: somme des éléments de la liste
#on va utiliser l'opérateur add qui se trouve dans le module operator.
from operator import add
reduce(add,liste)#renvoie 175 comme étant la somme des éléments de la liste.

175