## <font color=blue> Objet Tuple</font>
Un objet **Tuple** est une séquence de valeur (numérique et/ou alphanumérique) dont les éléments sont indiqués entre paranthèse et séparés par des virgules.
<p>
A la **différence des listes**,les éléments d'un typle ne peuvent pas être modifiés, cependant il est possible d'extraires ces éléments pour en créer d'autres objets

## <font color=blue> Créer un Objet Tuple</font>

In [ ]:
#créer un tuple
t1=(1,2,3,4)
t2=("ilham",12,20.0,"Laundi")
t3=tuple(range(10))
t4=1,2,3,4
t5=(12,)
t3

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

## <font color=blue> Indiçage des tuples</font>

In [ ]:
T=tuple(range(1,9))
T[0]#renvoie le premoier élément du tuple (1)
T[-1]##renvoie le premoier élément du tuple (8)
T[:]#renvoie tous les éléments du tuple
T[:4]#renvoie tous les élments à partir de l'indice 0 à 3 (indice 4 est exclus)
T[4:6]# renvoie les éléments ayant les indices de 4 à 5 (6 est exclus)